/*.bgPresentation{
    background: url(./media/seljalandsfoss-1751463.jpg) no-repeat center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
   
}*/

.SizePresentation{
    background: url(./media/seljalandsfoss-1751463.jpg) no-repeat center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: auto;
    height: 400px;
}


